/* 
		_footer.scss
*/

/*
										---FOOTER---
*/



#footer{
	position: relative;
	color: white;
	min-height: 150px;
	line-height: 170%;
	background-repeat: no-repeat;
	background-position-y: center;
	background-size: cover;
}
.footer-socicons{
	padding-bottom: 30px;
	border-bottom: 2px solid rgba(white, 0.3);
}
.footer-form{
	input, textarea{
		width:100%;
	}
}